@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Unbounded:wght@200..900&display=swap');

@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'remixicon/fonts/remixicon.css';

@theme {
  --color-prim: #6118BF;
  --color-white: #fff;
  --color-black: #000;

  --font-unbounded: "Unbounded", sans-serif;
  --font-merienda: "Merienda", cursive;

  --duration-regular: 0.3s;
  --duration-slow: 0.5s;
}

.Unbounded {
  font-family: var(--font-unbounded);
}

.Merienda {
  font-family: var(--font-merienda);
}

body {
  background-color: #090a0b;
  color: var(--color-white);
  overflow-x: hidden;
}