@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Unbounded:wght@200..900&display=swap');

@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'remixicon/fonts/remixicon.css';

@theme {
  --color-prim: #6118BF;
  --color-white: #fff;
  --color-black: #000;

  --font-unbounded: "Unbounded", sans-serif;
  --font-merienda: "Merienda", cursive;

  --duration-regular: 0.3s;
  --duration-slow: 0.5s;
}


.Unbounded {
  font-family: var(--font-unbounded);
}

.Merienda {
  font-family: var(--font-merienda);
}

body {
  background-color: #090a0b;
  color: var(--color-white);
  overflow-x: hidden;
}

.dropdown-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-prim) transparent;
}

/* Chrome, Edge, and Safari */
.dropdown-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.dropdown-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.dropdown-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-prim);
  border-radius: 20px;
}

.hero {
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: -5%;
  right: 0;
  transform: rotate(15deg);
  width: 50%;
  height: 800px;
  border-radius: 50px;
  background-color: #1f4ad638;
  z-index: -1;
}

.hero-image {
  overflow: hidden;
  width: 80%;
  height: 650px;
  border-radius: 5%;
  background-image: url(/Images/Hero.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #462880d5, #8e2de2d2);
  z-index: -1;
}

.job-offer-span1,
.job-offer-span2,
.job-offer-span3,
.job-offer-span4 {
  animation: Anim-TD 2s infinite forwards linear;
}

.job-offer-span2 {
  animation-delay: 0.1s;
}

.job-offer-span3 {
  animation-delay: 0.5s;
}

.job-offer-span4 {
  animation-delay: 0.6s;
}

@keyframes Anim-TD {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@media (max-width: 991px) {
  .hero-image {
    width: 80%;
    background-size: 90%;
    background-position: left center;
  }

  .hero::after {
    right: 20%;
    width: 55%;
    height: 100%;
  }
}

@media (max-width: 575px) {
  .hero-image {
    width: 100%;
    height: 600px;
    background-size: 100%;
    background-position: bottom center;
  }

  .hero::after {
    right: 28%;
    width: 70%;
    height: 100%;
  }
}

.shadow-light {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.job-card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transform: scale(0.99) translateY(-10px);
}

.job-detail-banner {
  background-image: url(/Images/JobDetails-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.banner {
  background-image: linear-gradient(180deg, #101828, #1a2439);
  position: relative;
  z-index: 5;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(/Images/banner.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  z-index: -1;
}

.testimonial {
  background-image: url(/Images/testi-bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.newsletter {
  background-image: radial-gradient(circle, #5118bf, #350e7c, #16063a);
  position: relative;
  z-index: 5;
}

.newsletter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(/Images/newsletter-bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(/Images/newsletter-bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-banner {
  background-image: url(/Images/Section-Banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.section-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, #101828, #1a2439);
  opacity: 0.6;
  z-index: -1;
}